.preview-blog
  display flex
  justify-content space-between
  border-radius 5px
  border 2px solid #e75735
  width 95%
  height 150px
  margin 10px auto
  background-color #ade0d9
  &__author
    margin 5px 10px
    color #038775
    width 280px
    &_name
      font-size 20px
    &_date
      font-size 16px
      position relative
      left 98px
  &__content
    max-width 800px
    height 110px
    border-radius 5px
    background-color #4db7a7
    color rgb(255,255,255)
    padding 10px
    margin 10px
    position relative
    &_text
      display block
      max-width 600px
      height 55px
      overflow hidden
  &__button
    position absolute
    bottom 10px
    right 10px
