.events__content {
    display: block;
    position: absolute;
    left: 95px;
    width: 288px;
    height: 212px;
    color: rgb(255,255,255);
}
.events__content_date {
    display: block;
    float: left;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 73px;
    letter-spacing: -3px;
    line-height: 26px;
    font-family: "sans-serif";
}
.events__content_month {
    display: block;
    margin-top: 55px;
    margin-left: 120px;
    font-size: 30px;
    line-height: 26px;
    font-family: "sans-serif";
}
.events__content_title {
    display: block;
    margin-top: 10px;
    margin-left: 40px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "sans-serif";
}
.events__content_text {
    display: block;
    width: 160px;
    margin-top: 10px;
    margin-left: 40px;
    font-size: 11px;
    letter-spacing: 1px;
    font-family: "sans-serif";
}