mixin stages()
    div(class='stages' id='stages')
        span.stages__bar_disactive
        span(class='stages__bar_active' id='stages__bar_active')
        span(class='stages__circle stages__circle_active' id='stages__circle_1') 1
        span(class='stages__circle stages__circle_disactive' id='stages__circle_2') 2
        span(class='stages__circle stages__circle_disactive' id='stages__circle_3') 3
        span(class='stages__circle stages__circle_disactive' id='stages__circle_4') 4
        span(class='stages__circle stages__circle_disactive' id='stages__circle_5') 5