.stages
  display block
  position relative
  height 40px
  width 620px
  margin 0 auto
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
  &_wrapp
    position: absolute;
    top: 20px;
  &__bar
    &_disactive
      display block
      position absolute
      width 590px
      height 5px
      border-radius 2px
      background-color #e5e5e5
    &_active
      display block
      position absolute
      width 0
      height 5px
      border-radius 2px
      background-color #e75735
      transition all ease 500ms
  &__circle
    position absolute
    top -12px
    display block
    width 29px
    height 29px
    border-radius 14px
    font-size 14px
    letter-spacing 1px
    line-height 30px
    color rgb(255,255,255)
    font-family "sans-serif"
    text-align center
    cursor pointer
    transition all ease 1000ms
    &_active
      background-color #e75735
    &_disactive
      background-color #e5e5e5
      color rgb(136,136,136)

#stages
  &__circle
    &_2
      left 148px
    &_3
      left 296px
    &_4
      left 444px
    &_5
      left 590px
