.calendar__month {
    height: 44px;
    background-color: #d54c2c;
}
.calendar__month_left-arrow,
.calendar__month_right-arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 12px 14px 12px 14px;
    position: relative;
    cursor: pointer;
}
.calendar__month_left-arrow:after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 4px;
    border-radius: 5px;
    background-color: #ffffff;
    transform: rotate(45deg);
    position: absolute;
    top: 11px;
    left: 2px;
}
.calendar__month_left-arrow:before {
    content: '';
    display: block;
    width: 14px;
    height: 4px;
    border-radius: 5px;
    background-color: #ffffff;
    transform: rotate(-45deg);
    position: absolute;
    top: 4px;
    left: 2px;
}
.calendar__month_right-arrow:after {
    content: '';
    display: block;
    width: 14px;
    height: 4px;
    border-radius: 5px;
    background-color: #ffffff;
    transform: rotate(-45deg);
    position: absolute;
    top: 11px;
    left: 2px;
}
.calendar__month_right-arrow:before {
    content: '';
    display: block;
    width: 14px;
    height: 4px;
    border-radius: 5px;
    background-color: #ffffff;
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    left: 2px;
}
.calendar__month_text {
    display: inline-block;
    position: relative;
    top: -14px;
    width: 176px;
    height: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 44px;
    font-family: sans-serif;
}