.tick-box {
    position: relative;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    cursor: pointer;
}
.tick-box_active {
    background-color: #4db7a7;
}
.tick-box_disactive {
    background-color: #e5e5e5;
}


