.form-checkin
  width 260px
  height 500px
  position relative
  margin 0 auto
  &__textarea
    border-radius 3px
    border none
    background-color rgb(229, 229, 229)
    font-size 14px
    font-family "SourceSansPro"
    color rgb(136, 136, 136)
    resize none
    width 300px
    height 80px
    padding 10px 10px
    overflow hidden
    margin-top 10px
  &__form
    width 2000px
    position relative
    &_wrapp
      overflow hidden
    &_span
      font-size 25px
      color #4db7a7
      display inline-block
      margin 10px 0
      width 300px
    &_input
      border-radius 3px
      border none
      background-color rgb(229, 229, 229)
      font-size 14px
      font-family "SourceSansPro"
      color rgb(136, 136, 136)
      padding 10px
      width 230px
      height 20px
    &_name
      position relative
      top -10px
      width 260px
      float left
    &_location
      position relative
      top -10px
      left 320px
      width 260px
      float left
    &_about
      position relative
      top -10px
      left 640px
      width 260px
      float left
    &_from
      position relative
      top -10px
      left 960px
      width 260px
      float left
    &_thx
      position relative
      top -10px
      left 1280px
      width 260px
      float left
    &_span-thx
      font-size 32px
      color #4db7a7
      display inline-block
      margin 140px 0
      width 260px
      text-align center
    &_button-wrapp
      margin 10px 0
