.search
  position relative
  &__input
    width 243px
    height 28px
    border-radius: 3px 0 0 3px
    border none
    background-color #e5e5e5
    padding 0 15px
    font-size 14px
    letter-spacing 0
    color rgb(136,136,136)
    font-family "Source Sans Pro"
    &_error::-webkit-input-placeholder
      color rgb(255,255,255)
  &__button
    width 33px
    height 28px
    border-radius 0 3px 3px 0
    background-color #e75735
    cursor pointer
    position absolute
    left 273px
    top 0
    & img
      display block
      position absolute
      top 6px
      left 10px