.form__button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    left: 200px;
    top: 5px;
    width: 120px;
    height: 32px;
    border-radius: 3px;
    box-shadow: 0px 2px 1px 0px #27a18f;
    background-color: #4db7a8;
    cursor: pointer;
}
.form__button_text {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 34px;
    color: rgb(255,255,255);
    font-family: "Lato";
    font-weight: 800;
    display: block;
    width: 100%;
    text-align: center;
}