mixin red-slider()
    div(class='red-slider' id='red-slider')
        .red-slider_wrapp
            span.red-slider__bar
            div(class='red-slider__circle' id='red-slider__circle')
                span.red-slider__decore
                span(class='red-slider__dialog' id='red-slider__dialog') 0