.profile__image {
    position: absolute;
    display: block;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    border: 3px solid #e5e5e5;
    overflow: hidden;
}
.profile__image_man img {
    position: absolute;
    top: 0;
    left: -24px;
}
.profile__image_female img {
    position: absolute;
    top: -36px;
    left: -86px;
}