.profile__name {
    display: block;
    margin: 8px auto;
    font-size: 18px;
    font-family: "sans-serif";
    text-align: center;
}
.profile__name_man {
    color: rgb(231,87,53);
}
.profile__name_female {
    color: rgb(255,255,255);
}