.left-bar
  display flex
  flex-direction column
  border 3px solid #4db7a7
  border-radius 0 5px 5px 0
  width 413px
  height 1000px
  background-color #ADE0D9
  &__news-wrap
    padding 10px 15px
  &__events-wrap
    padding 10px 15px
  &__calendar-wrap
    padding 10px
    position relative
    left 55px
  &__text
    display block
    width 220px
    font-size 25px
    color #038775
    margin 10px auto
    text-align center
