.calendar {
    position: absolute;
    height: 428px;
    width: 280px;
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}








