.toggle
  position relative
  width 59px
  height 24px
  border-radius 12px
  transition all ease 1000ms
  cursor pointer
  &_active
    background-color #4db7a7
  &_disactive
    background-color #e5e5e5
  &__circle
    position absolute
    top 3px
    display block
    width 18px
    height 18px
    border-radius 50%
    background-color rgb(255,255,255)
    transition all ease 700ms
    &_active
      left 37px
    &_disactive
      left 4px
  &__text
    font-size 12px
    font-family sans-serif
    position absolute
    top 5px
    color rgb(255,255,255)
    transition all ease 1000ms
    &_active
      left 13px
    &_disactive
      left 27px
