mixin toggle(state)
    div(class='toggle toggle_' + state id='toggle')
        span(class='toggle__text toggle__text_' + state id='toggle-text') ON
        span(class='toggle__circle toggle__circle_' + state)