.map
  position relative
  width 600px
  height 262px
  border-radius 3px
  &__bar
    height 50px
    width 600px
    background-color #e75735
    border-radius 0 0 3px 3px
    position absolute
    top 212px
    &_text
      font-size 30px
      line-height 26px
      color rgb(255,255,255)
      font-family "Lato"
      font-weight 300
      display inline-block
      position absolute
      top 10px
      left 30px
    &_location
      width 140px
      font-size 13px
      letter-spacing 1px
      color rgb(255,255,255)
      font-family "Lato"
      font-weight 800
      display inline-block
      position absolute
      top 8px
      left 160px
  &__icon
    &_location
      position: absolute
      top 10px
      left 516px
    &_pin
      position: absolute
      top 12px
      left 560px