mixin news(caption, date, content)
    .news
        .news__image
            img(src=require('../elem/news/img/news-img.png'))
        .news__text
            span.news__text_caption= caption
            br
            span.news__text_date= date
            br
            span.news__text_content= content