doctype html
html(lang="en")
    head
        title= htmlWebpackPlugin.options.title
    body
        include ../elem/header/header
        include ../elem/form-checkin/form-checkin
        include ../elem/stages/stages
        +header('4')
        .checkin-page
            +form-checkin()
            +stages()