body
  background-color #E9FFFC
.checkin-page
  width 100%
  margin 20px auto 0
@media screen and (max-width: 666px)
  .stages
    display none
  .checkin-page
    margin 20px 0 0 0
  .form-chekin
    width 260px