body
  background-color #E9FFFC
.events-page
  display flex
  justify-content space-around
  margin-top 50px
  &__wrapper
    max-width 900px
    height 440px
    margin 0 25px
  &__content
    border-radius 5px
    border 2px solid #4db7a7
    width 100%
    transition all ease 300ms
    &_bugs
      display none
  &__button
    display flex
    justify-content space-between
    padding 20px
@media screen and (max-width: 1130px) and (min-width: 970px)
  .menu
    margin-top 50px
@media screen and (max-width: 970px) and (min-width: 400px)
  .events-page
    flex-direction column-reverse
    align-items center
  .events-page__content
    margin-top -80px
  .left-bar
    margin-top 100px