.red-slider__decore {
    display: block;
    position: absolute;
    top: -13px;
    left: 5px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background-color: #e75735;
    border-radius: 2px;
}