.square-button
  position relative
  width 118px
  height 32px
  border-radius 3px
  background-color #4db7a8
  box-shadow 0 2px 0 0 #28a290
  cursor: pointer
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

.square-button__circle
  display none
  position absolute
  width 45px
  height 45px
  border-radius 50%
  background-color rgba(255,255,255,.4)

.square-button__text
  display block
  position absolute
  top 10px
  left 34px
  color rgb(255,255,255)
  font-size 12px
  font-family sans-serif
