mixin square-button(color)
    .square-button_wrapp
        div(class='square-button square-button square-button_'+color)
            span.square-button__text Далее
            span(class='square-button__circle')