.square-button
  position absolute
  width 118px
  height 32px
  border-radius 3px
  cursor: pointer
  user-select none
  overflow hidden
  &_green
    background-color #4db7a8
    box-shadow #28a290
  &_red
    background-color #e75635
    box-shadow 0 2px 0 0 #bf3d1f
  &_wrapp
    position relative
    width 118px
    height 34px
  &__circle
    display none
    position absolute
    width 45px
    height 45px
    border-radius 50%
    background-color rgba(255,255,255,.4)
  &__text
    display block
    position absolute
    top 9px
    left 35%
    color rgb(255,255,255)
    font-size 12px
    font-family sans-serif
