.message__content {
    display: block;
    position: absolute;
    border-radius: 10px;
    width: 243px;
    height: 75px;
    font-size: 13px;
    letter-spacing: 1px;
    color: rgb(134,134,134);
    font-family: "sans-serif";
    font-weight: bold;
    padding: 20px 0 0 20px;
}
.message__content_1 {
    top: 160px;
    left: 8px;
    background-color: #ffffff;
}
.message__content_2 {
    top: 270px;
    left: 6px;
    background-color: #e5e5e5;
    border: 2px solid #ffffff;
}