.profile__links {
    display: block;
    position: absolute;
    top: 60px;
    left: 42px;
}
.profile__links_fb {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.profile__links_tw {
    display: block;
    position: absolute;
    top: 0;
    left: 30px;
}
.profile__links_drib {
    display: block;
    position: absolute;
    top: 0;
    left: 70px;
}