.calendar__head {
    height: 180px;
    background-color: #e75735;
    border-radius: 5px 5px 0 0;
    color: #ffffff;
}
.calendar__head_day {
    display: block;
    width: 100%;
    font-size: 80px;
    height: 110px;
    font-family: sans-serif;
    text-align: center;
    line-height: 110px;
}
.calendar__head_days-of-the-week {
    font-size: 9px;
    display: inline-block;
    font-family: sans-serif;
    width: 39px;
    text-align: center;
    height: 26px;
    line-height: 26px;
    margin: 0 -3.2px 0 0;
}