.profile__position {
    display: block;
    margin: 0 auto;
    font-size: 11px;
    letter-spacing: 1px;
    font-family: "sans-serif";
    text-align: center;
}
.profile__position_man {
    color: rgb(79,79,79);
}
.profile__position_female {
    color: rgb(255,255,255);
}