.red-slider__dialog {
    display: block;
    position: absolute;
    border-radius: 5px;
    top: -34px;
    left: -7px;
    width: 35px;
    height: 20px;
    background-color: #e75735;
    font-size: 13px;
    letter-spacing: 1px;
    color: rgb(255,255,255);
    font-family: "sans-serif";
    text-align: center;
    padding-top: 8px;
}