.message__photo {
    position: absolute;
    top: 60px;
    left: 94px;
    display: block;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    border: 3px solid #e5e5e5;
    overflow: hidden
}
.message__photo_image {
    position: absolute;
    top: -36px;
    left: -86px;
}