.tick-box
  position relative
  width 23px
  height 23px
  border-radius 50%
  cursor pointer
  &_active
    background-color #4db7a7
  &_disactive
    background-color #e5e5e5
  &__mark
    &:before
      position absolute
      top 13px
      left 5px
      content ''
      display block
      width 6px
      height 2px
      transform rotate(45deg)
    &:after
      position absolute
      top 11px
      left 7px
      content ''
      display block
      width 12px
      height 2px
      transform rotate(-45deg)
    &_active
      &:before,
      &:after
        background-color rgb(255,255,255)
    &_disactive
      &:before,
      &:after
        background-color rgb(192,192,192)
