.profile
  position relative
  width 260px
  height 93px
  &__base
    position absolute
    z-index 100
    left 100px
    width 169px
    height 93px
    background-color #e5e5e5
    border-radius 8px
    opacity 0
    transition opacity ease 500ms
    &_man
      background-color #e5e5e5
    &_female
      background-color #4db7a7
    &_decore
      display block
      position absolute
      z-index 10
      top 45px
      left -6px
      width 20px
      height 10px
      transform rotate(45deg)
      border-radius 3px
  &__image
    position absolute
    display block
    width 84px
    height 84px
    border-radius 50%
    border 3px solid #e5e5e5
    overflow hidden
    &_man img
      position absolute
      top 0
      left -24px
    &_female img
      position absolute
      top -36px
      left -86px
  &__links
    display block
    position absolute
    top 60px
    left 42px
    &_fb
      display block
      position absolute
      top 0
      left 0
    &_tw
      display block
      position absolute
      top 0
      left 30px
    &_drib
      display block
      position absolute
      top 0
      left 70px
  &__name
    display block
    margin 8px auto
    font-size 18px
    font-family "sans-serif"
    text-align center
    &_man
      color rgb(231,87,53)
    &_female
      color rgb(255,255,255)
  &__position
    display block
    margin 0 auto
    font-size 11px
    letter-spacing 1px
    font-family "sans-serif"
    text-align center
    &_man
      color rgb(79,79,79)
    &_female
      color rgb(255,255,255)
