.profile
  position relative
  width 260px
  height 93px
  margin-top 50px

.profile__base
  position absolute
  z-index 100
  left 100px
  width 169px
  height 93px
  background-color #e5e5e5
  border-radius 8px
  opacity 0
  transition opacity ease 500ms

.profile__base_man
  background-color #e5e5e5

.profile__base_female
  background-color #4db7a7

.profile__base_decore
  display block
  position absolute
  z-index 10
  top 45px
  left -6px
  width 20px
  height 10px
  transform rotate(45deg)
  border-radius 3px

.profile__image
  position absolute
  display block
  width 84px
  height 84px
  border-radius 50%
  border 3px solid #e5e5e5
  overflow hidden

.profile__image_man img
  position absolute
  top 0
  left -24px

.profile__image_female img
  position absolute
  top -36px
  left -86px

.profile__links
  display block
  position absolute
  top 60px
  left 42px

.profile__links_fb
  display block
  position absolute
  top 0
  left 0

.profile__links_tw
  display block
  position absolute
  top 0
  left 30px

.profile__links_drib
  display block
  position absolute
  top 0
  left 70px

.profile__name
  display block
  margin 8px auto
  font-size 18px
  font-family "sans-serif"
  text-align center

.profile__name_man
  color rgb(231,87,53)

.profile__name_female
  color rgb(255,255,255)

.profile__position
  display block
  margin 0 auto
  font-size 11px
  letter-spacing 1px
  font-family "sans-serif"
  text-align center

.profile__position_man
  color rgb(79,79,79)

.profile__position_female
  color rgb(255,255,255)
