mixin percentages()
    div(class='percentages' id='percentages')
        div(class='percentages__quatity' id='percentages__quatity' data-pct='100')
        svg(class='percentages__svg' width='130' height='130')
            circle(class='percentages__scale' r='50' fill='transparent' stroke-dasharray='565.48' stroke-dashoffset='0')
            circle(class='percentages__scale percentages__scale_active' id='percentages__scale_active' r='50' fill='transparent' stroke-dasharray='314.159' stroke-dashoffset='0')