.calendar__button {
    color: #868686;
    font-size: 13px;
    width: 100px;
    height: 49px;
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 52px;
    cursor: pointer;
}
.calendar__button_open {
    left: 10px;
}
.calendar__button_tooday {
    left: 60px;
}