mixin circle-button(divClass, spanActiveClass, spanPositionClass)
    div(class='circle-button ' + 'circle-button_' + divClass)
        span(class='circle-button__arrow ' + 'circle-button__arrow_' + spanActiveClass + ' circle-button__arrow_' + spanPositionClass)
