.green-slider
  display block
  position relative
  width 268px
  cursor pointer
  height 40px
  &__bar
    &_active
      z-index 3
      display block
      position relative
      top -20px
      width 0
      height 5px
      border-radius 2px
      background-color #4db7a7
    &_disactive
      z-index 2
      position absolute
      display block
      width 260px
      height 5px
      border-radius 2px
      background-color #e5e5e5
  &__circle
    z-index 34
    display block
    position relative
    top -8px
    width 20px
    height 20px
    border-radius 10px
    background-color #4db7a7
    margin-left -3px
  &__number
    font-size 11px
    letter-spacing 1px
    color rgb(209,209,209)
    font-family 'sans-serif'
    position absolute
    top 15px
#green-slider
  &__number_1
    left 3px
    color #4db7a7
  &__number_2
    left 62px
  &__number_3
    left 126px
  &__number_4
    left 191px
  &__number_5
    left 246px
