mixin green-slider()
    div(class='green-slider' id='green-slider')
        span(class='green-slider__bar green-slider__bar_disactive')
        span(class='green-slider__circle' id='green-slider__circle')
        span(class='green-slider__bar green-slider__bar_active' id='green-slider__bar_active')
        span(class='green-slider__number' id='green-slider__number_1') 0
        span(class='green-slider__number' id='green-slider__number_2') 25
        span(class='green-slider__number' id='green-slider__number_3') 50
        span(class='green-slider__number' id='green-slider__number_4') 75
        span(class='green-slider__number' id='green-slider__number_5') 100