.green-slider
  display block
  position relative
  width 268px
  cursor pointer
  margin-top 50px

.green-slider__bar_active
  z-index 3
  display block
  position relative
  top -20px
  width 0
  height 5px
  border-radius 2px
  background-color #4db7a7

.green-slider__bar_disactive
  z-index 2
  position absolute
  display block
  width 260px
  height 5px
  border-radius 2px
  background-color #e5e5e5

.green-slider__circle
  z-index 34
  display block
  position relative
  top -8px
  width 20px
  height 20px
  border-radius 10px
  background-color #4db7a7
  margin-left -3px

.green-slider__number
  font-size 11px
  letter-spacing 1px
  color rgb(209,209,209)
  font-family 'sans-serif'
  position absolute
  top 15px

#green-slider__number_1
  left 3px
  color #4db7a7

#green-slider__number_2
  left 62px

#green-slider__number_3
  left 126px

#green-slider__number_4
  left 191px

#green-slider__number_5
  left 246px
