.message
  position relative
  height 428px
  width 280px
  border-radius 5px
  &__body
    width 280px
    height 360px
    border-radius 5px
    background-color #f1f1f1
  &__button
    position absolute
    top 410px
    left 18px
    width 244px
    height 36px
    border-radius 5px
    background-color #4eb7a8
    text-align center
    line-height 36px
    color #ffffff
    font-family sans-serif
    box-shadow 0 3px 1px #28a290
    cursor pointer
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none
  &__content
    display block
    position absolute
    border-radius 10px
    width 243px
    height 75px
    font-size 13px
    letter-spacing 1px
    color rgb(134,134,134)
    font-family "sans-serif"
    font-weight bold
    padding 20px 0 0 20px
    &_1
      top 160px
      left 8px
      background-color #ffffff
    &_2
      top 270px
      left 6px
      background-color #e5e5e5
      border 2px solid #ffffff
  &__icon
    display block
    position absolute
    cursor pointer
    &_chat
      top 115px
      left 35px
    &_camera
      top 115px
      left 220px
  &__name
    width 280px
    height 100px
    background-color #4db7a7
    border-radius 5px 5px 0 0
    &_who
      font-size 34px
      letter-spacing -1px
      color rgb(255,255,255)
      font-family "sans-serif"
      display block
      position absolute
      top 10px
      left 21%
  &__photo
    position absolute
    top 60px
    left 94px
    display block
    width 84px
    height 84px
    border-radius 50%
    border 3px solid #e5e5e5
    overflow hidden
    &_image
      position absolute
      top -36px
      left -86px
