.toggle {
    position: relative;
    width: 59px;
    height: 24px;
    border-radius: 12px;
    transition: all ease 1000ms;
    cursor: pointer;
}
.toggle_active {
    background-color: #4db7a7;
}
.toggle_disactive {
    background-color: #e5e5e5;
}